*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(41, 72, 224), rgb(164, 82, 236));
    color: rgb(236, 241, 249);
    height: 7vh;
    position: fixed;
    width: 100vw;
}
ul{
    display: flex;
    gap: 20px;
}
ul li {
    font-family: "Kode Mono", monospace;
}
.logo{
    font-family: "Eater", serif;
    font-size: 23px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw 0;
    background-image: linear-gradient(to right, rgb(90, 229, 190), rgb(191, 140, 231));
}
.img1{
    width: 30vw;
    height: 20vw;
    /* padding-left: 10vw; */
    mix-blend-mode: multiply;
}
.left{
    margin-left: 12vw;
    width: 50vw;
    border: 2px solid rgb(114, 165, 191);
    padding: 30px;
    border-radius: 20px;
}
.one{
    font-size: 50px;
}
.btn{
    padding: 3px;
    font-size: 14px;
    background-color: rgb(67, 135, 224);
    cursor: pointer;
    height: 30px;
    margin-top: 4px;
    width: 90px;
    border: 1px solid rgba(92, 22, 130, 0.536);
}
.btn:hover{
    background-color: rgb(115, 165, 213);
    color: blueviolet;
    font-size: 15px;
    font-style: bold;
}
.project{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, );
    
}
.project_info{
    /* margin-left: 22vw; */
    font-size: 20px;
    gap: 10px;
    width: 55vw;
}
.project_img{
    margin: 3vw;
}
.img2{
    border-radius: 30px;
    width: 32vw;
}
.row-reverse{
    flex-direction: row-reverse;
}
.text{
    padding: 7px 0;
    font-size: 34px;
    font-style: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 60vw;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 2, 35);
    color: white;
    padding-top: 15px;
}
.details{    
    height: 54px;
    background-image: linear-gradient(to right, rgb(90, 229, 190), rgb(191, 140, 231));
}
.contact{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1{
    border: 1px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.btn1:hover{
    color: rgb(5, 52, 93);
}
.about{
    display: flex;
    align-items: center;
}
.img3{
    width: 32vw;
    border-radius: 30px;
    margin: 3vw;
}
.abtl{
    margin: 3vw;
    font-size: 20px;
}
.info{
    padding: 7px 0;
    font-size: 34px;
    font-style: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40vw;
}
.infol{
    font-size: 20px;
}